<div class="">
  <input type="search" name="Search" id="Search" class="form-control w-25 float-end" placeholder="Search">
    <table class="table mt-5">
         <tr>
             <th>S.NO</th>
             <th>Name</th>
             <th>RegistrationNO</th>
             <th>Final Submit Date</th>
             <th>Admin Varified</th>
             <th colspan="7">Action</th>
         </tr>
         <% if(Result.length>0){%>
             <%for(i=0;i<Result.length;i++){%>
             
         <tr>
             <td><%=[1+i]%> </td>
             <td><%=Result[i].Name%></td>
             <td><%=Result[i].RegistrationNO%></td>
             <td><%=Result[i].FinalSubmitDate%></td>
             <td><%=Result[i].Varified_admin%></td>
             <!-- <td><button  class="btn btn-primary" id="EditRegister" onclick="ViewPhoto('<%= Result[i]._id %>')" data-toggle="modal"  data-target="#ViewPhoto"><i class="fas fa-image"></i></button></td> -->
             <td><button class="btn btn-success"onclick="EntranceExamFormVarify('<%= Result[i]._id %>')"><i class="fas fa-check" aria-hidden="true"></i></button></td>
             <td><button class="btn btn-warning" data-toggle="modal"  data-target="#RejectFormModel" onclick="RejectForm('<%= Result[i].RegistrationNO %>')"><i class="fa fa-ban" aria-hidden="true"></i></button></td>
             <td><button  class="btn btn-danger"id="DeleteEntranceExamForm" onclick="DeleteEntranceExamForm('<%= Result[i]._id %>')"><i class="fa fa-trash"></i></button></td>
         </tr>
         <%}%>
         <%}else{%>
             <td>Data is not found</td>
             <%}%>
  
    </table>
    <div class="modal" id="RejectFormModel">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Reject Form</h4>
            <button type="button" class="btn-close" data-dismiss="modal"></button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
              <form class="form-group" id="RejectForm" autocomplete="off">
                <input type="text" name="RegistrationNO" id="RegistrationNO" hidden>
                <input type="text" name="RejectReason" id="" class="form-control" placeholder="text ..." required>
                <button type="button" class="btn btn-danger mt-3 float-end" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success mt-3 float-end me-2">Reject</button>
              </form>
  
          </div> 
          <!-- Modal footer -->
        </div>
      </div>
    <div class="modal" id="ViewPhoto">
     <div class="modal-dialog">
       <div class="modal-content">
   
         <!-- Modal Header -->
         <div class="modal-header">
           <h4 class="modal-title">Edit Regiter </h4>
           <button type="button" class="btn-close" data-dismiss="modal"></button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
             <form class="form-group" id="EditRegiterForm" autocomplete="off">
               <img src="" alt="" id="Photo"  width="100%" height="100%">
                   <button type="button" class="btn btn-danger mt-3 float-end me-2" data-dismiss="modal">Close</button>
               </div>
             </form>
         </div> 
         <!-- Modal footer -->
       </div>
     </div>
   </div>
  </div>
   <script>
     function ViewPhoto(_id){
         $.ajax({
           url:'/admin/adminEntranceUploadPhotoVarify',
           type:'GET',
           data:{'_id':_id},
           success:function(Result){
              const View=`/entranceExamUploadPhoto/${Result}`
              console.log(View);
             $('#Photo').attr('src',View)
           }
         })
     }
     function DeleteEntranceExamForm(_id){
    $.ajax({
         url:'/admin/adminDeleteEntranceExamForm',
         type:'GET',
         data:{'_id':_id},
         success:function(Result){
            alert(Result)
         }
       })
     }
     function RejectForm(RegistrationNO){
        $('#RegistrationNO').val(RegistrationNO)
     }
     $('document').ready(function(){
      $('#RejectForm').submit(function(event){
        event.preventDefault()
        $.ajax({
           url:'/admin/adminEntranceExamFormReject',
           type:'POST',
           data:$('#RejectForm').serialize(),
           success:function(Result){
             alert(Result)
           }
         })
      })
      })
      function EntranceExamFormVarify(_id){
        $.ajax({
           url:'/admin/adminEntranceExamFormVarification?_id='+_id,
           type:'POST',
           success:function(Result){
             alert(Result)
           }
         })
  
      }
 </script>
   